In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

- Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
- Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
- Only include properties that include a latitude and longitude value.

In [2]:
# import env file for hostname, username, password, and db_name
from env import host, user, password, db_name

In [3]:
# Pass env file authentication to container 'url'
url = f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [4]:
# define sql search for all records from all tables in Zillow database
sql = """
SELECT prop.*,
       pred.logerror, 
       pred.transactiondate, 
       air.airconditioningdesc, 
       arch.architecturalstyledesc, 
       build.buildingclassdesc, 
       heat.heatingorsystemdesc, 
       landuse.propertylandusedesc, 
       story.storydesc, 
       construct.typeconstructiondesc 
FROM   properties_2017 prop  
JOIN (SELECT parcelid,
				  logerror,
				  Max(transactiondate) transactiondate 
		   FROM   predictions_2017 
		   GROUP  BY parcelid, logerror) pred
	   USING (parcelid)
JOIN propertylandusetype USING (propertylandusetypeid)
LEFT JOIN airconditioningtype air USING (airconditioningtypeid) 
LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid) 
LEFT JOIN buildingclasstype build USING (buildingclasstypeid) 
LEFT JOIN heatingorsystemtype heat USING (heatingorsystemtypeid) 
LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid) 
LEFT JOIN storytype story USING (storytypeid) 
LEFT JOIN typeconstructiontype construct USING (typeconstructiontypeid) 
WHERE  prop.latitude IS NOT NULL 
AND prop.longitude IS NOT NULL
AND transactiondate < '2018-01-01' 
AND propertylandusetypeid = 261 
"""

In [96]:
# load zillow data from saved csv or pull from sql server and save to csv
import os
file = 'zillow_data.csv'
if os.path.isfile(file):
    df = pd.read_csv(file, index_col=0)
else:
    df = pd.read_sql(sql,url)
    df.to_csv(file)

In [6]:
df.head()

,parcelid,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,propertylandusetypeid,id,basementsqft,...,censustractandblock,propertylandusedesc,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,storydesc,typeconstructiondesc
0,14297519,NaN,NaN,NaN,NaN,NaN,NaN,261.0,1727539,NaN,...,6.059063e+13,Single Family Residential,0.025595,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN
1,17052889,NaN,NaN,NaN,NaN,NaN,NaN,261.0,1387261,NaN,...,6.111001e+13,Single Family Residential,0.055619,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN
2,14186244,NaN,NaN,NaN,NaN,NaN,NaN,261.0,11677,NaN,...,6.059022e+13,Single Family Residential,0.005383,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN
3,12177905,NaN,NaN,2.0,NaN,NaN,NaN,261.0,2288172,NaN,...,6.037300e+13,Single Family Residential,-0.103410,2017-01-01,NaN,NaN,NaN,Central,NaN,NaN
4,12095076,NaN,NaN,2.0,NaN,NaN,1.0,261.0,781532,NaN,...,6.037461e+13,Single Family Residential,-0.001011,2017-01-01,Central,NaN,NaN,Central,NaN,NaN

In [7]:
# df shape
df.shape

(52438, 68)

In [8]:
df.parcelid.duplicated().sum()

118

In [9]:
# Sort df by parcelid and then by transaction date to group by parcelid and to make sure transaction date is last
df = df.sort_values(by=['parcelid','transactiondate'])
df.head()

,parcelid,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,propertylandusetypeid,id,basementsqft,...,censustractandblock,propertylandusedesc,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,storydesc,typeconstructiondesc
37223,10711855,NaN,NaN,2.0,NaN,NaN,NaN,261.0,1087254,NaN,...,6.037113e+13,Single Family Residential,-0.007357,2017-07-07,NaN,NaN,NaN,Central,NaN,NaN
48246,10711877,NaN,NaN,2.0,NaN,NaN,1.0,261.0,1072280,NaN,...,6.037113e+13,Single Family Residential,0.021066,2017-08-29,Central,NaN,NaN,Central,NaN,NaN
15536,10711888,NaN,NaN,2.0,NaN,NaN,1.0,261.0,1340933,NaN,...,6.037113e+13,Single Family Residential,0.077174,2017-04-04,Central,NaN,NaN,Central,NaN,NaN
12106,10711910,NaN,NaN,2.0,NaN,NaN,NaN,261.0,1878109,NaN,...,6.037113e+13,Single Family Residential,-0.041238,2017-03-17,NaN,NaN,NaN,Central,NaN,NaN
13666,10711923,NaN,NaN,2.0,NaN,NaN,NaN,261.0,2190858,NaN,...,6.037113e+13,Single Family Residential,-0.009496,2017-03-24,NaN,NaN,NaN,Central,NaN,NaN

In [10]:
df[df.duplicated(subset='parcelid', keep=False)].head()

,parcelid,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,propertylandusetypeid,id,basementsqft,...,censustractandblock,propertylandusedesc,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,storydesc,typeconstructiondesc
9384,10722858,NaN,NaN,2.0,NaN,NaN,NaN,261.0,16179,NaN,...,6.037135e+13,Single Family Residential,0.095171,2017-03-02,NaN,NaN,NaN,Central,NaN,NaN
9385,10722858,NaN,NaN,2.0,NaN,NaN,NaN,261.0,16179,NaN,...,6.037135e+13,Single Family Residential,-0.172843,2017-07-28,NaN,NaN,NaN,Central,NaN,NaN
9306,10732347,NaN,NaN,2.0,NaN,NaN,NaN,261.0,1836115,NaN,...,6.037137e+13,Single Family Residential,0.077198,2017-03-01,NaN,NaN,NaN,Central,NaN,NaN
9307,10732347,NaN,NaN,2.0,NaN,NaN,NaN,261.0,1836115,NaN,...,6.037137e+13,Single Family Residential,-0.221145,2017-07-25,NaN,NaN,NaN,Central,NaN,NaN
1940,10739478,NaN,NaN,2.0,NaN,NaN,1.0,261.0,2119208,NaN,...,6.037800e+13,Single Family Residential,0.083280,2017-01-13,Central,NaN,NaN,Central,NaN,NaN

In [11]:
df = df.drop_duplicates(subset='parcelid', keep='last')

In [12]:
df.parcelid.duplicated().sum()

0

In [13]:
df.shape

(52320, 68)

In [14]:
# Replace blank values with NaN
df = df.replace('',np.nan)

In [15]:
# check if long/lat columns have nulls
df.longitude.isnull().sum(), df.latitude.isnull().sum()

(0, 0)

***

### 2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [16]:
# Describe without scientific notation
df.describe().apply(lambda s: s.apply(lambda x: format(x, 'g')))

,parcelid,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,propertylandusetypeid,id,basementsqft,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,logerror,buildingclassdesc
count,52320,76,47,33850,0,70,13615,52320,52320,47,...,81,52238,52319,52320,52319,52316,2068,52199,52320,0
mean,1.29968e+07,5.97368,7,3.96561,nan,7.1,2.43959,261,1.49691e+06,678.979,...,1,196636,529824,2016,333492,6454.74,14.1011,6.05024e+13,0.0181378,nan
std,3.35092e+06,0.229416,0,2.56266,nan,2.66567,3.84793,0,859433,711.825,...,0,254286,751830,0,570511,8752.48,2.4004,1.86113e+12,0.176903,nan
min,1.07119e+07,4,7,1,nan,2,1,261,349,38,...,1,129,1000,2016,161,49.18,4,6.0371e+13,-4.65542,nan
25%,1.15102e+07,6,7,2,nan,7,1,261,757614,263.5,...,1,77159,194033,2016,76194,2660.98,14,6.0374e+13,-0.0247003,nan
50%,1.25783e+07,6,7,2,nan,7,1,261,1.50013e+06,512,...,1,131905,374006,2016,218079,4650.57,15,6.03762e+13,0.00694008,nan
75%,1.41304e+07,6,7,7,nan,7,1,261,2.24133e+06,809.5,...,1,226453,619354,2016,408777,7379.27,15,6.05904e+13,0.0406021,nan
max,1.67688e+08,6,7,24,nan,21,13,261,2.98227e+06,3560,...,1,9.1649e+06,4.90612e+07,2016,4.89522e+07,586639,99,4.8303e+14,5.263,nan

In [17]:
df.shape

(52320, 68)

In [18]:
# df.hist()
# plt.tight_layout();

In [19]:
# for col in df.columns:
#     df[col].hist()

In [20]:
# for col in df.columns:
#     print(f'_-------------- {col} ---------------')
#     print(df[col].value_counts())

In [21]:
#df.info(verbose=True)

***

### 3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [22]:
# show nulls per column
df.isna().sum()

parcelid                      0
typeconstructiontypeid    52244
storytypeid               52273
heatingorsystemtypeid     18470
buildingclasstypeid       52320
                          ...
architecturalstyledesc    52250
buildingclassdesc         52320
heatingorsystemdesc       18470
storydesc                 52273
typeconstructiondesc      52244
Length: 68, dtype: int64

In [23]:
# show average nulls per column
df.isna().mean()

parcelid                  0.000000
typeconstructiontypeid    0.998547
storytypeid               0.999102
heatingorsystemtypeid     0.353020
buildingclasstypeid       1.000000
                            ...
architecturalstyledesc    0.998662
buildingclassdesc         1.000000
heatingorsystemdesc       0.353020
storydesc                 0.999102
typeconstructiondesc      0.998547
Length: 68, dtype: float64

In [24]:
# create dataframe that has column name as first column
col_nulls = pd.DataFrame()
col_nulls['columns_name'] = df.isna().sum().index
col_nulls

              columns_name
0                 parcelid
1   typeconstructiontypeid
2              storytypeid
3    heatingorsystemtypeid
4      buildingclasstypeid
..                     ...
63  architecturalstyledesc
64       buildingclassdesc
65     heatingorsystemdesc
66               storydesc
67    typeconstructiondesc

[68 rows x 1 columns]

In [25]:
# create new column that hold the sum of nulls from each column
col_nulls['row_null_count'] = df.isna().sum().values
col_nulls

              columns_name  row_null_count
0                 parcelid               0
1   typeconstructiontypeid           52244
2              storytypeid           52273
3    heatingorsystemtypeid           18470
4      buildingclasstypeid           52320
..                     ...             ...
63  architecturalstyledesc           52250
64       buildingclassdesc           52320
65     heatingorsystemdesc           18470
66               storydesc           52273
67    typeconstructiondesc           52244

[68 rows x 2 columns]

In [26]:
# create new column that hold the average of nulls from each column
col_nulls['row_null_percent'] = df.isna().mean().values
col_nulls

              columns_name  row_null_count  row_null_percent
0                 parcelid               0          0.000000
1   typeconstructiontypeid           52244          0.998547
2              storytypeid           52273          0.999102
3    heatingorsystemtypeid           18470          0.353020
4      buildingclasstypeid           52320          1.000000
..                     ...             ...               ...
63  architecturalstyledesc           52250          0.998662
64       buildingclassdesc           52320          1.000000
65     heatingorsystemdesc           18470          0.353020
66               storydesc           52273          0.999102
67    typeconstructiondesc           52244          0.998547

[68 rows x 3 columns]

In [27]:
# sort values by percent
col_nulls = col_null.sort_values(by=['row_null_percent'], ascending=False)
col_nulls

            columns_name  row_null_count  row_null_percent
19  finishedsquarefeet15           52320          1.000000
4    buildingclasstypeid           52320          1.000000
64     buildingclassdesc           52320          1.000000
18  finishedsquarefeet13           52320          1.000000
2            storytypeid           52273          0.999102
..                   ...             ...               ...
11            bedroomcnt               0          0.000000
29             longitude               0          0.000000
28              latitude               0          0.000000
22                  fips               0          0.000000
0               parcelid               0          0.000000

[68 rows x 3 columns]

1. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [29]:
# Ravinder Exmaple
df2 = pd.DataFrame(df.isnull().sum(axis =1), columns = ['num_cols_missing']).reset_index().groupby('num_cols_missing')\
.count().reset_index().rename(columns = {'index': 'num_rows'})

df2['pct_cols_missing'] = df2.num_cols_missing/df.shape[1]
df2.head()

   num_cols_missing  num_rows  pct_cols_missing
0                23         2          0.338235
1                24        12          0.352941
2                25        11          0.367647
3                26        30          0.382353
4                27       177          0.397059

In [30]:
# shows # of null col per row
df.isnull().sum(axis=1)

37223    31
48246    29
15536    31
12106    31
13666    31
         ..
42306    35
31148    36
23911    36
9001     48
28113    48
Length: 52320, dtype: int64

In [31]:
# shows percent of null cols per row
df.isnull().mean(axis=1)

37223    0.455882
48246    0.426471
15536    0.455882
12106    0.455882
13666    0.455882
           ...
42306    0.514706
31148    0.529412
23911    0.529412
9001     0.705882
28113    0.705882
Length: 52320, dtype: float64

In [32]:
# show # of rows with specific number of null cols
df.isna().sum(axis=1).value_counts()

33    11967
34    11158
32     8885
31     5989
36     4138
35     3469
29     2527
30     2199
37     1020
28      390
38      223
27      177
44       46
26       30
39       29
40       15
24       12
25       11
43       10
42        7
45        6
41        6
23        2
48        2
46        1
47        1
dtype: int64

In [101]:
# shows column nulls in each row
dft = pd.DataFrame(df.isnull().sum(axis=1), columns=['col_nulls'])
dft.head()

   col_nulls
0         36
1         33
2         34
3         32
4         29

In [102]:
# shows index as id
dft = row_nulls.reset_index()
dft.head()

   level_0  index  col_nulls
0        0      0         36
1        1      1         33
2        2      2         34
3        3      3         32
4        4      4         29

In [103]:
# sbow # rows that have a specific number of null columns
dft.col_nulls.value_counts()

33    11995
34    11180
32     8901
31     6004
36     4147
35     3478
29     2531
30     2204
37     1023
28      392
38      227
27      177
44       47
26       30
39       29
40       15
24       12
25       11
43       10
42        7
45        6
41        6
23        2
48        2
46        1
47        1
Name: col_nulls, dtype: int64

In [104]:
# groupby 'null count' to display # of rows have the same # of null cols
dft = dft.groupby('col_nulls').count()
dft.head()

           level_0  index
col_nulls
23               2      2
24              12     12
25              11     11
26              30     30
27             177    177

In [105]:
dft_nulls  = dft.treset_index()
dft.head()

AttributeError: 'DataFrame' object has no attribute 'treset_index'

In [106]:
dft.rename(columns = {'index': 'num_row_missing_cols' }, inplace=True)
dft.head()

           level_0  num_row_missing_cols
col_nulls
23               2                     2
24              12                    12
25              11                    11
26              30                    30
27             177                   177

In [107]:
dft['col_null_percent'] = df.isnull().mean(axis=1)
dft.head()

           level_0  num_row_missing_cols  col_null_percent
col_nulls
23               2                     2          0.470588
24              12                    12          0.485294
25              11                    11          0.426471
26              30                    30          0.455882
27             177                   177          0.455882

In [41]:
# Create df with number of rows with a specific number of null columns
row_nulls = pd.DataFrame(df.isna().sum(axis=1).value_counts(), columns=['num_rows_with_n_null_cols'])
row_nulls.head()

    num_rows_with_n_null_cols
33                      11967
34                      11158
32                       8885
31                       5989
36                       4138

In [42]:
# make first columnb the number of nulls
row_nulls = dft2.reset_index()
row_nulls.head()

   index  num_rows_with_n_null_cols
0     33                      11967
1     34                      11158
2     32                       8885
3     31                       5989
4     36                       4138

In [43]:
# rename index to match values
row_nulls = dft2.rename(columns={'index':'n_null_cols'})
row_nulls.head()

   n_null_cols  num_rows_with_n_null_cols
0           33                      11967
1           34                      11158
2           32                       8885
3           31                       5989
4           36                       4138

In [44]:
# create columsn for percent of null cols
row_nulls['percent_null_cols'] = row_nulls.n_null_cols / df.shape[1]
row_nulls.head()

   n_null_cols  num_rows_with_n_null_cols  percent_null_cols
0           33                      11967           0.485294
1           34                      11158           0.500000
2           32                       8885           0.470588
3           31                       5989           0.455882
4           36                       4138           0.529412

In [45]:
# sort df by percentn of null cols
row_nulls = row_nulls.sort_values(by=['percent_null_cols'], ascending=False)
row_nulls

    n_null_cols  num_rows_with_n_null_cols  percent_null_cols
23           48                          2           0.705882
25           47                          1           0.691176
24           46                          1           0.676471
20           45                          6           0.661765
12           44                         46           0.647059
18           43                         10           0.632353
19           42                          7           0.617647
21           41                          6           0.602941
15           40                         15           0.588235
14           39                         29           0.573529
10           38                        223           0.558824
8            37                       1020           0.544118
4            36                       4138           0.529412
5            35                       3469           0.514706
1            34                      11158           0.500000
0            33                      11967           0.485294
2            32                       8885           0.470588
3            31                       5989           0.455882
7            30                       2199           0.441176
6            29                       2527           0.426471
9            28                        390           0.411765
11           27                        177           0.397059
13           26                         30           0.382353
17           25                         11           0.367647
16           24                         12           0.352941
22           23                          2           0.338235

***

## Prepare

### 1a Remove any properties that are likely to be something other than single unit properties.

In [46]:
# show value counts for each column, does not include nulls
for col in df.columns:
    print(f'-------------{col}-----------------')
    print(df[df[col].notna()][col].value_counts())

-------------parcelid-----------------
10913809    1
14004381    1
12888190    1
14243968    1
11227265    1
           ..
14147054    1
13096431    1
12660208    1
12789233    1
12853244    1
Name: parcelid, Length: 52320, dtype: int64
-------------typeconstructiontypeid-----------------
6.0    75
4.0     1
Name: typeconstructiontypeid, dtype: int64
-------------storytypeid-----------------
7.0    47
Name: storytypeid, dtype: int64
-------------heatingorsystemtypeid-----------------
2.0     20689
7.0     12527
6.0       517
20.0       85
13.0       16
1.0         7
18.0        6
10.0        2
24.0        1
Name: heatingorsystemtypeid, dtype: int64
-------------buildingclasstypeid-----------------
Series([], Name: buildingclasstypeid, dtype: int64)
-------------architecturalstyletypeid-----------------
7.0     62
3.0      3
2.0      2
21.0     2
8.0      1
Name: architecturalstyletypeid, dtype: int64
-------------airconditioningtypeid-----------------
1.0     11873
13.0     1567
5.0       159
11.0       16
Name: airconditioningtypeid, dtype: int64
-------------propertylandusetypeid-----------------
261.0    52320
Name: propertylandusetypeid, dtype: int64
-------------id-----------------
2232322    1
2324100    1
151139     1
949861     1
2538363    1
          ..
738319     1
115949     1
1692911    1
2960624    1
657407     1
Name: id, Length: 52320, dtype: int64
-------------basementsqft-----------------
273.0     2
515.0     2
100.0     2
900.0     2
912.0     2
640.0     2
352.0     1
90.0      1
300.0     1
588.0     1
1252.0    1
280.0     1
384.0     1
3560.0    1
396.0     1
1969.0    1
252.0     1
1218.0    1
800.0     1
394.0     1
645.0     1
200.0     1
512.0     1
112.0     1
604.0     1
126.0     1
38.0      1
254.0     1
204.0     1
224.0     1
600.0     1
669.0     1
786.0     1
314.0     1
1809.0    1
168.0     1
405.0     1
819.0     1
3112.0    1
380.0     1
1416.0    1
Name: basementsqft, dtype: int64
-------------bathroomcnt-----------------
2.0     21840
3.0     10650
1.0      9536
2.5      3932
4.0      2225
3.5       916
1.5       839
5.0       803
4.5       686
6.0       320
5.5       224
0.0       119
7.0        88
8.0        53
6.5        47
7.5        16
9.0        13
10.0        5
8.5         3
11.0        3
18.0        1
13.0        1
Name: bathroomcnt, dtype: int64
-------------bedroomcnt-----------------
3.0     23303
4.0     15210
2.0      8317
5.0      3967
6.0       634
1.0       611
0.0       135
7.0       106
8.0        24
9.0         8
10.0        2
14.0        1
11.0        1
12.0        1
Name: bedroomcnt, dtype: int64
-------------buildingqualitytypeid-----------------
6.0     10260
8.0      8222
4.0      8136
7.0      3424
5.0      1507
9.0      1119
11.0      514
10.0      230
3.0       149
12.0       81
1.0         8
2.0         5
Name: buildingqualitytypeid, dtype: int64
-------------calculatedbathnbr-----------------
2.0     21840
3.0     10650
1.0      9536
2.5      3924
4.0      2225
3.5       916
1.5       832
5.0       803
4.5       686
6.0       320
5.5       223
7.0        88
8.0        53
6.5        47
7.5        16
9.0        13
10.0        5
8.5         3
11.0        3
18.0        1
13.0        1
Name: calculatedbathnbr, dtype: int64
-------------decktypeid-----------------
66.0    389
Name: decktypeid, dtype: int64
-------------finishedfloor1squarefeet-----------------
1252.0    22
1462.0    21
1205.0    21
1227.0    19
1226.0    17
          ..
3023.0     1
2800.0     1
783.0      1
6553.0     1
3896.0     1
Name: finishedfloor1squarefeet, Length: 1553, dtype: int64
-------------calculatedfinishedsquarefeet-----------------
1120.0    128
1200.0    118
1080.0    101
1040.0     86
936.0      86
         ...
4368.0      1
4807.0      1
5300.0      1
5271.0      1
4787.0      1
Name: calculatedfinishedsquarefeet, Length: 4723, dtype: int64
-------------finishedsquarefeet12-----------------
1120.0    127
1200.0    117
1080.0    101
936.0      86
1040.0     85
         ...
6494.0      1
3996.0      1
5626.0      1
6743.0      1
5264.0      1
Name: finishedsquarefeet12, Length: 4716, dtype: int64
-------------finishedsquarefeet13-----------------
Series([], Name: finishedsquarefeet13, dtype: int64)
-------------finishedsquarefeet15-----------------
Series([], Name: finishedsquarefeet15, dtype: int64)
-------------finishedsquarefeet50-----------------
1252.0    22
1462.0    21
1205.0    21
1227.0    19
1431.0    17
          ..
2101.0     1
876.0      1
1670.0     1
2460.0     1
3896.0     1
Name: finishedsquarefeet50, Length: 1572, dtype: int64
-------------finishedsquarefeet6-----------------
952.0     4
520.0     3
935.0     2
765.0     2
845.0     2
         ..
600.0     1
955.0     1
1939.0    1
942.0     1
622.0     1
Name: finishedsquarefeet6, Length: 155, dtype: int64
-------------fips-----------------
6037.0    33824
6059.0    14111
6111.0     4385
Name: fips, dtype: int64
-------------fireplacecnt-----------------
1.0    6024
2.0     942
3.0     229
4.0      35
5.0       3
Name: fireplacecnt, dtype: int64
-------------fullbathcnt-----------------
2.0     25776
3.0     11575
1.0     10368
4.0      2912
5.0      1022
6.0       357
7.0        96
8.0        56
9.0        13
10.0        5
11.0        3
18.0        1
13.0        1
Name: fullbathcnt, dtype: int64
-------------garagecarcnt-----------------
2.0     14777
1.0      2197
3.0       621
4.0       253
0.0        65
5.0        45
6.0        13
7.0         3
10.0        3
8.0         2
9.0         2
14.0        1
11.0        1
13.0        1
Name: garagecarcnt, dtype: int64
-------------garagetotalsqft-----------------
400.0     786
441.0     678
462.0     658
360.0     646
460.0     569
         ...
1286.0      1
958.0       1
764.0       1
975.0       1
346.0       1
Name: garagetotalsqft, Length: 839, dtype: int64
-------------hashottuborspa-----------------
1.0    1514
Name: hashottuborspa, dtype: int64
-------------latitude-----------------
34047500.0    12
33494800.0     7
34487900.0     7
34101300.0     7
34041200.0     6
              ..
33848993.0     1
33875303.0     1
33773606.0     1
33693518.0     1
33734652.0     1
Name: latitude, Length: 50478, dtype: int64
-------------longitude-----------------
-118249000.0    12
-117830000.0     7
-118327000.0     7
-117670000.0     7
-117835000.0     7
                ..
-119162121.0     1
-117982973.0     1
-117843764.0     1
-117727948.0     1
-118105060.0     1
Name: longitude, Length: 50764, dtype: int64
-------------lotsizesquarefeet-----------------
6000.0     873
5000.0     413
7200.0     306
7000.0     285
6500.0     272
          ...
7886.0       1
13283.0      1
10475.0      1
13636.0      1
16446.0      1
Name: lotsizesquarefeet, Length: 14292, dtype: int64
-------------poolcnt-----------------
1.0    11077
Name: poolcnt, dtype: int64
-------------poolsizesum-----------------
450.0     89
400.0     38
500.0     30
600.0     27
800.0     25
          ..
850.0      1
1070.0     1
747.0      1
516.0      1
642.0      1
Name: poolsizesum, Length: 262, dtype: int64
-------------pooltypeid10-----------------
1.0    443
Name: pooltypeid10, dtype: int64
-------------pooltypeid2-----------------
1.0    1071
Name: pooltypeid2, dtype: int64
-------------pooltypeid7-----------------
1.0    9990
Name: pooltypeid7, dtype: int64
-------------propertycountylandusecode-----------------
0100    26714
122     13045
0101     6399
1111     3353
1        1066
1110     1024
0104      367
010G       93
0103       91
0108       57
010M       52
0109       18
1112        8
0113        6
0110        6
0141        4
0105        3
0102        3
010V        2
0130        2
0111        2
0133        1
0114        1
0131        1
0115        1
010L        1
Name: propertycountylandusecode, dtype: int64
-------------propertyzoningdesc-----------------
LAR1          6480
LARS          1380
LBR1N         1109
SCUR2          712
LARE11         611
              ...
CUR18500*        1
LBR1*            1
LRMPD-VM*        1
SHCO*            1
LCC3-A2100       1
Name: propertyzoningdesc, Length: 1286, dtype: int64
-------------rawcensustractandblock-----------------
6.037920e+07    36
6.037920e+07    32
6.059032e+07    24
6.037142e+07    24
6.059032e+07    23
                ..
6.059111e+07     1
6.037106e+07     1
6.111005e+07     1
6.037111e+07     1
6.111004e+07     1
Name: rawcensustractandblock, Length: 31440, dtype: int64
-------------regionidcity-----------------
12447.0    11418
5534.0      1791
40227.0     1491
46298.0     1424
16764.0     1085
           ...
32927.0        3
31134.0        2
10815.0        1
36078.0        1
21395.0        1
Name: regionidcity, Length: 175, dtype: int64
-------------regionidcounty-----------------
3101.0    33824
1286.0    14111
2061.0     4385
Name: regionidcounty, dtype: int64
-------------regionidneighborhood-----------------
48570.0     501
118208.0    473
27080.0     448
274049.0    391
51906.0     373
           ...
761543.0      1
762963.0      1
764167.0      1
762934.0      1
762527.0      1
Name: regionidneighborhood, Length: 437, dtype: int64
-------------regionidzip-----------------
97319.0    776
97318.0    670
97329.0    563
97328.0    519
97118.0    497
          ...
96467.0      1
97088.0      1
96038.0      1
96148.0      1
97092.0      1
Name: regionidzip, Length: 381, dtype: int64
-------------roomcnt-----------------
0.0     37761
6.0      3974
7.0      3608
8.0      2810
5.0      1886
9.0      1173
4.0       518
10.0      338
11.0      108
3.0        79
12.0       35
2.0        12
13.0       10
14.0        6
15.0        1
1.0         1
Name: roomcnt, dtype: int64
-------------threequarterbathnbr-----------------
1.0    6638
2.0      70
3.0       8
7.0       1
Name: threequarterbathnbr, dtype: int64
-------------unitcnt-----------------
1.0    33734
2.0       27
3.0        1
Name: unitcnt, dtype: int64
-------------yardbuildingsqft17-----------------
200.0     85
240.0     71
300.0     49
400.0     37
288.0     34
          ..
894.0      1
68.0       1
1035.0     1
409.0      1
415.0      1
Name: yardbuildingsqft17, Length: 504, dtype: int64
-------------yardbuildingsqft26-----------------
120.0    3
448.0    2
300.0    2
240.0    2
56.0     2
200.0    1
320.0    1
108.0    1
113.0    1
37.0     1
284.0    1
91.0     1
30.0     1
461.0    1
72.0     1
12.0     1
88.0     1
576.0    1
216.0    1
28.0     1
336.0    1
174.0    1
71.0     1
868.0    1
292.0    1
48.0     1
218.0    1
39.0     1
752.0    1
648.0    1
250.0    1
21.0     1
196.0    1
133.0    1
368.0    1
204.0    1
45.0     1
462.0    1
414.0    1
144.0    1
180.0    1
49.0     1
160.0    1
66.0     1
486.0    1
41.0     1
195.0    1
491.0    1
384.0    1
314.0    1
105.0    1
16.0     1
60.0     1
360.0    1
169.0    1
231.0    1
140.0    1
Name: yardbuildingsqft26, dtype: int64
-------------yearbuilt-----------------
1955.0    1893
1950.0    1605
1954.0    1513
1953.0    1481
1956.0    1384
          ...
1897.0       1
1882.0       1
1894.0       1
1880.0       1
1889.0       1
Name: yearbuilt, Length: 133, dtype: int64
-------------numberofstories-----------------
1.0    8868
2.0    5312
3.0     351
6.0       1
Name: numberofstories, dtype: int64
-------------fireplaceflag-----------------
1.0    81
Name: fireplaceflag, dtype: int64
-------------structuretaxvaluedollarcnt-----------------
100000.0    50
200000.0    36
90000.0     32
32489.0     28
95000.0     27
            ..
330743.0     1
225627.0     1
173683.0     1
93922.0      1
154255.0     1
Name: structuretaxvaluedollarcnt, Length: 37333, dtype: int64
-------------taxvaluedollarcnt-----------------
455000.0    33
600000.0    30
550000.0    24
500000.0    24
450000.0    24
            ..
477594.0     1
529596.0     1
210423.0     1
426536.0     1
19211.0      1
Name: taxvaluedollarcnt, Length: 38942, dtype: int64
-------------assessmentyear-----------------
2016.0    52320
Name: assessmentyear, dtype: int64
-------------landtaxvaluedollarcnt-----------------
21299.0     95
22755.0     63
30210.0     63
16522.0     53
16749.0     51
            ..
926880.0     1
256938.0     1
613101.0     1
261592.0     1
365784.0     1
Name: landtaxvaluedollarcnt, Length: 36912, dtype: int64
-------------taxamount-----------------
345.72      4
3509.14     3
5871.38     3
1554.42     3
4386.16     3
           ..
9150.86     1
5253.51     1
1103.98     1
3827.44     1
21590.39    1
Name: taxamount, Length: 50834, dtype: int64
-------------taxdelinquencyflag-----------------
Y    2068
Name: taxdelinquencyflag, dtype: int64
-------------taxdelinquencyyear-----------------
15.0    1124
14.0     559
13.0     126
12.0      81
11.0      79
10.0      47
9.0       33
8.0        8
7.0        8
6.0        1
99.0       1
4.0        1
Name: taxdelinquencyyear, dtype: int64
-------------censustractandblock-----------------
6.037920e+13    32
6.037920e+13    27
6.059032e+13    24
6.037142e+13    24
6.059032e+13    23
                ..
6.037601e+13     1
6.037141e+13     1
6.111000e+13     1
6.037702e+13     1
6.037134e+13     1
Name: censustractandblock, Length: 31404, dtype: int64
-------------propertylandusedesc-----------------
Single Family Residential    52320
Name: propertylandusedesc, dtype: int64
-------------logerror-----------------
 0.000231    5
 0.002652    5
 0.000727    5
 0.001878    5
 0.000420    4
            ..
 0.035055    1
-0.153667    1
 0.087675    1
-0.005029    1
 0.025578    1
Name: logerror, Length: 52061, dtype: int64
-------------transactiondate-----------------
2017-06-30    809
2017-04-28    614
2017-05-31    565
2017-07-28    546
2017-08-31    528
             ...
2017-03-11      1
2017-07-08      1
2017-06-11      1
2017-06-03      1
2017-05-20      1
Name: transactiondate, Length: 257, dtype: int64
-------------airconditioningdesc-----------------
Central      11873
Yes           1567
None           159
Wall Unit       16
Name: airconditioningdesc, dtype: int64
-------------architecturalstyledesc-----------------
Contemporary     62
Cape Cod          3
Bungalow          2
Ranch/Rambler     2
Conventional      1
Name: architecturalstyledesc, dtype: int64
-------------buildingclassdesc-----------------
Series([], Name: buildingclassdesc, dtype: int64)
-------------heatingorsystemdesc-----------------
Central       20689
Floor/Wall    12527
Forced air      517
Solar            85
None             16
Baseboard         7
Radiant           6
Gravity           2
Yes               1
Name: heatingorsystemdesc, dtype: int64
-------------storydesc-----------------
Basement    47
Name: storydesc, dtype: int64
-------------typeconstructiondesc-----------------
Frame       75
Concrete     1

Name: typeconstructiondesc, dtype: int64

In [47]:
df.shape

(52320, 68)

In [48]:
df.unitcnt.isna().sum()

18558

In [49]:
# remove propeties that have no bedrooms and no bathrooms and too small of an area
df = df[(df.bedroomcnt > 0) & (df.bathroomcnt > 0) & (df.unitcnt <= 1) | df.unitcnt.isna() & (df.calculatedfinishedsquarefeet > 500)]

In [50]:
df.shape

(52147, 68)

***

### Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row)

In [51]:
# Ravinder's Example
# def handle_missing_values(df, prop_required_column = .5, prop_required_row = .70):
#     threshold = int(round(prop_required_column*len(df.index),0))
#     df.dropna(axis=1, thresh=threshold, inplace=True)
#     threshold = int(round(prop_required_row*len(df.columns),0))
#     df.dropna(axis=0, thresh=threshold, inplace=True)
#     return df

In [52]:
df.index

Int64Index([37223, 48246, 15536, 12106, 13666,  4381, 36294, 10462, 42662,
             7623,
            ...
            50786,  6576,  8832,  6809, 49219, 37075,  2794, 42306, 31148,
            23911],
           dtype='int64', length=52147)

In [53]:
df.shape

(52147, 68)

In [54]:
len(df.index)

52147

In [55]:
len(df.columns)

68

In [56]:
dft = df.copy()
dft.shape

(52147, 68)

In [57]:
thresh_col = .5 * df.shape[0]
thresh_col

26073.5

In [58]:
dft = dft.dropna(axis=1, thresh=thresh_col)
dft.shape

(52147, 34)

In [59]:
thresh_row = .7 * dft.shape[1]
thresh_row

23.799999999999997

In [60]:
dft.dropna(axis=0, thresh=thresh_row).shape

(52147, 34)

In [61]:
def handle_missing_values(df, percent_required_cols = .5, percent_required_rows = .7):
    
    # set threshold for min of values in columns for dropping
    thresh_col = int(round(percent_required_cols * df.shape[0]))
    
    # drop columns that don't meed threshhold for non-null values (rows without nulls)
    df = df.dropna(axis=1, thresh=thresh_col)
    
    # set threshold for min non-null values for rows (cols without nulls)
    thresh_row = int(round(percent_required_rows * df.shape[1]))
    
    # drop rows with don't meet threshold for non-null values for columns
    df = df.dropna(axis=0, thresh=thresh_row)
    
    return df, thresh_col, thresh_rowresh_row

In [62]:
df, thresh_col, thresh_row  = handle_missing_values(df, percent_required_cols = .5, percent_required_rows = .5)

In [63]:
df.shape, thresh_col, thresh_row

((52147, 34), 26074, 17)

***

### Deal with the rest of the Nulls

In [64]:
df.shape

(52147, 34)

In [65]:
df.isna().sum()

parcelid                            0
heatingorsystemtypeid           18334
propertylandusetypeid               0
id                                  0
bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           18536
calculatedbathnbr                  38
calculatedfinishedsquarefeet        0
finishedsquarefeet12              159
fips                                0
fullbathcnt                        38
latitude                            0
longitude                           0
lotsizesquarefeet                 350
propertycountylandusecode           0
propertyzoningdesc              18471
rawcensustractandblock              0
regionidcity                     1030
regionidcounty                      0
regionidzip                        23
roomcnt                             0
unitcnt                         18456
yearbuilt                          37
structuretaxvaluedollarcnt         69
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           4
censustractandblock               109
propertylandusedesc                 0
logerror                            0
transactiondate                     0
heatingorsystemdesc             18334
dtype: int64

In [66]:
# remove columns that are not useful
df = df.drop(columns=['parcelid',
                'id',
                 #Description of the allowed land uses (zoning) for that property
                 'propertyzoningdesc', 
                 # Finished living area
                 'finishedsquarefeet12',
                 #  Census tract and block ID combined - also contains blockgroup assignment by extension
                 'censustractandblock',
                      # Type of land use the property is zoned for
                      'propertylandusetypeid',
                      #  Type of home heating system
                      'heatingorsystemtypeid',
                      
                 
                ])

In [67]:
df.shape

(52147, 27)

In [68]:
df.isna().sum()

bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           18536
calculatedbathnbr                  38
calculatedfinishedsquarefeet        0
fips                                0
fullbathcnt                        38
latitude                            0
longitude                           0
lotsizesquarefeet                 350
propertycountylandusecode           0
rawcensustractandblock              0
regionidcity                     1030
regionidcounty                      0
regionidzip                        23
roomcnt                             0
unitcnt                         18456
yearbuilt                          37
structuretaxvaluedollarcnt         69
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           4
propertylandusedesc                 0
logerror                            0
transactiondate                     0
heatingorsystemdesc             18334
dtype: int64

In [69]:
df.heatingorsystemdesc.value_counts()

Central       20671
Floor/Wall    12508
Forced air      517
Solar            85
None             16
Baseboard         7
Radiant           6
Gravity           2
Yes               1
Name: heatingorsystemdesc, dtype: int64

In [70]:
df[df.fips == 6037].heatingorsystemdesc.value_counts(dropna=False)

Central       20671
Floor/Wall    12479
NaN             503
Solar            85
Name: heatingorsystemdesc, dtype: int64

In [71]:
df[df.fips == 6059].heatingorsystemdesc.value_counts(dropna=False)

NaN           13469
Forced air      517
Floor/Wall       29
None             16
Baseboard         7
Radiant           6
Gravity           2
Yes               1
Name: heatingorsystemdesc, dtype: int64

In [72]:
df[df.fips == 6111].heatingorsystemdesc.value_counts(dropna=False)

NaN    4362
Name: heatingorsystemdesc, dtype: int64

In [73]:
# relacing nulls with 'None'
df.heatingorsystemdesc.fillna('None', inplace=True)

In [74]:
df.isna().sum()

bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           18536
calculatedbathnbr                  38
calculatedfinishedsquarefeet        0
fips                                0
fullbathcnt                        38
latitude                            0
longitude                           0
lotsizesquarefeet                 350
propertycountylandusecode           0
rawcensustractandblock              0
regionidcity                     1030
regionidcounty                      0
regionidzip                        23
roomcnt                             0
unitcnt                         18456
yearbuilt                          37
structuretaxvaluedollarcnt         69
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           4
propertylandusedesc                 0
logerror                            0
transactiondate                     0
heatingorsystemdesc                 0
dtype: int64

In [77]:
df.buildingqualitytypeid.value_counts(dropna=False)

NaN     18536
6.0     10250
8.0      8219
4.0      8126
7.0      3420
5.0      1497
9.0      1118
11.0      514
10.0      229
3.0       147
12.0       80
1.0         8
2.0         3
Name: buildingqualitytypeid, dtype: int64

In [78]:
df[df.fips == 6037].buildingqualitytypeid.value_counts(dropna=False)

6.0     10250
8.0      8219
4.0      8126
7.0      3420
5.0      1497
9.0      1118
11.0      514
10.0      229
3.0       147
12.0       80
1.0         8
2.0         3
Name: buildingqualitytypeid, dtype: int64

In [79]:
df[df.fips == 6059].buildingqualitytypeid.value_counts(dropna=False)

NaN    14047
Name: buildingqualitytypeid, dtype: int64

In [80]:
df[df.fips == 6111].buildingqualitytypeid.value_counts(dropna=False)

NaN    4362
Name: buildingqualitytypeid, dtype: int64

In [81]:
# droping buildingqualitytypeid because they are null for Ventura and Orange
df.drop(columns=['buildingqualitytypeid'], inplace=True)

In [82]:
df.isna().sum()

bathroomcnt                         0
bedroomcnt                          0
calculatedbathnbr                  38
calculatedfinishedsquarefeet        0
fips                                0
fullbathcnt                        38
latitude                            0
longitude                           0
lotsizesquarefeet                 350
propertycountylandusecode           0
rawcensustractandblock              0
regionidcity                     1030
regionidcounty                      0
regionidzip                        23
roomcnt                             0
unitcnt                         18456
yearbuilt                          37
structuretaxvaluedollarcnt         69
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           4
propertylandusedesc                 0
logerror                            0
transactiondate                     0
heatingorsystemdesc                 0
dtype: int64

In [84]:
df.unitcnt.value_counts(dropna=False)

1.0    33691
NaN    18456
Name: unitcnt, dtype: int64

In [85]:
df[df.fips == 6037].unitcnt.value_counts(dropna=False)

1.0    33686
NaN       52
Name: unitcnt, dtype: int64

In [86]:
df[df.fips == 6059].unitcnt.value_counts(dropna=False)

NaN    14042
1.0        5
Name: unitcnt, dtype: int64

In [87]:
df[df.fips == 6111].unitcnt.value_counts(dropna=False)

NaN    4362
Name: unitcnt, dtype: int64

In [88]:
# drop unitcnt, no longer needed
df.drop(columns=['unitcnt'], inplace=True)

In [89]:
df.isna().sum()

bathroomcnt                        0
bedroomcnt                         0
calculatedbathnbr                 38
calculatedfinishedsquarefeet       0
fips                               0
fullbathcnt                       38
latitude                           0
longitude                          0
lotsizesquarefeet                350
propertycountylandusecode          0
rawcensustractandblock             0
regionidcity                    1030
regionidcounty                     0
regionidzip                       23
roomcnt                            0
yearbuilt                         37
structuretaxvaluedollarcnt        69
taxvaluedollarcnt                  1
assessmentyear                     0
landtaxvaluedollarcnt              1
taxamount                          4
propertylandusedesc                0
logerror                           0
transactiondate                    0
heatingorsystemdesc                0
dtype: int64

In [90]:
# dropping the rest of the nulls
df.dropna(inplace=True)

In [91]:
df.isna().sum()

bathroomcnt                     0
bedroomcnt                      0
calculatedbathnbr               0
calculatedfinishedsquarefeet    0
fips                            0
fullbathcnt                     0
latitude                        0
longitude                       0
lotsizesquarefeet               0
propertycountylandusecode       0
rawcensustractandblock          0
regionidcity                    0
regionidcounty                  0
regionidzip                     0
roomcnt                         0
yearbuilt                       0
structuretaxvaluedollarcnt      0
taxvaluedollarcnt               0
assessmentyear                  0
landtaxvaluedollarcnt           0
taxamount                       0
propertylandusedesc             0
logerror                        0
transactiondate                 0
heatingorsystemdesc             0
dtype: int64